// @author Alexander Marenin
// @date July 2014

doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/public/css/all.css', rel='stylesheet')
        link(href='/favicon.ico', rel='shortcut icon' type='image/x-icon')
        block styles
    body(class=pageName)
        include include/navbar
        #main-content.container
            .buttons-block
                if pageTitle
                    h2=pageTitle
                block header-buttons
            block content
        script(src='/public/bower/jquery/dist/jquery.min.js')
        script(src='/public/bower/bootstrap/dist/js/bootstrap.min.js')
        block scripts
