// @author Alexander Marenin
// @date July 2014

extends ../layout

block scripts
    script(src='/public/js/formPage.js')

block content
    form(role='form', method='POST', action=postUrl)
        .row
            .col-md-7
                h3 XML
                .form-group#input-big-xml
                    textarea#big-xml.form-control(rows=25)
            .col-md-5
                h3 Config
                .checkbox
                    label
                        input(type='checkbox', name='checkbox1')
                        | Front
                .checkbox
                    label
                        input(type='checkbox', name='checkbox1')
                        | Back
                .form-group
                    label(for='rotate-x') Rotate X
                    input#rotate-x.form-control(type='number', name='rotateX', value=0)
                .form-group
                    label(for='rotate-y') Rotate Y
                    input#rotate-y.form-control(type='number', name='rotateY', value=0)
                .form-group
                    label(for='rotate-z') Rotate Z
                    input#rotate-z.form-control(type='number', name='rotateZ', value=0)

                h3 Files
                .form-group
                    input(type='file', name='file1')
                .form-group
                    input(type='file', name='file2')
                .form-group
                    input(type='file', name='file3')
                .form-group
                    input(type='file', name='file4')
                .form-group
                    input(type='file', name='file5')

        .row
            .col-md-12.center.offset-top
                button.btn.btn-success(type='submit') Submit


