// @author Alexander Marenin
// @date July 2014

extends ../layout

block content
    .table-responsive
        table.table.table-striped.table-hover
            tr
                th Name
                th Create date
            each item in list
                tr
                    td
                        a(href=item.url)= item.name
                    td= item.create
